.tk-layout .VPNavBar.home.full-img-nav-bar:not(.screen-open) {
  /* -------   导航文字呼吸灯  ------- */
  // 修改颜色，请注意同步一样的颜色，避免晃眼
  @keyframes text-shadow-breath {
    // 修改颜色，请注意同步一样的颜色，避免晃眼
    0%,
    100% {
      text-shadow:
              2px 2px 4px rgba(0, 0, 0, 0.5),
              -2px 2px 4px rgba(0, 0, 0, 0.5),
              2px -2px 4px rgba(0, 0, 0, 0.5),
              -2px -2px 4px rgba(0, 0, 0, 0.5);
    }
    25%,
    75% {
      text-shadow:
              2px 2px 4px rgba(0, 0, 0, 0.375),
              -2px 2px 4px rgba(0, 0, 0, 0.375),
              2px -2px 4px rgba(0, 0, 0, 0.375),
              -2px -2px 4px rgba(0, 0, 0, 0.375);
    }
    50% {
      text-shadow: none;
    }
  }

  .VPNavBarTitle .title,
  .VPNavBarMenuLink,
  .VPNavBarMenuGroup .text,
  .VPSocialLink,
  .DocSearch-Button,
  .DocSearch-Input,
  .DocSearch-Button-Placeholder {
    animation: text-shadow-breath 5s ease-in-out infinite alternate;
  }

  /* -------   图标描边呼吸灯  ------- */
  // 修改颜色，请注意同步一样的颜色，避免晃眼
  @keyframes icon-shadow-breath {
    0%,
    100% {
      filter: drop-shadow(0 0 1px rgba(255, 0, 212, 0.5)) drop-shadow(0 0 0.5px rgba(255, 0, 212, 0.5));
    }
    25%,
    75% {
      filter: drop-shadow(0 0 1px rgba(255, 0, 212, 0.375)) drop-shadow(0 0 0.5px rgba(255, 0, 212, 0.375));
    }
    50% {
      filter: drop-shadow(0 0 1px rgba(255, 0, 212, 0)) drop-shadow(0 0 0.5px rgba(255, 0, 212, 0));
    }
  }

  .tk-icon {
    animation: icon-shadow-breath 5s ease-in-out infinite alternate;
  }

  /* -------   时钟背景呼吸灯  ------- */
  @keyframes clock-bg-breath {
    // 修改颜色，请注意同步一样的颜色，避免晃眼
    0%,
    100% {
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
    50% {
      background-color: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  #clock {
    animation: clock-bg-breath 5s ease-in-out infinite alternate;
  }

  /* 时钟文字颜色保持不变 */
  #clock .hour,
  #clock .minute,
  #clock .second,
  #clock .separator {
    color: rgba(255, 255, 255, 1); // 可修改文本颜色
  }
}

.VPNavBarMenu{
  .VPNavBarMenuGroup{
    .menu{
      .VPMenu{
        .VPMenuLink{
          .VPLink{
            padding: 0 !important;
          }
        }
      }
    }
  }
}